body {
  background: #05060a;
  color: white;
  font-family: Arial;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #00eaff;
}

.card {
  background: #111;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px #00eaff22;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 30px #00eaff88;
}

button {
  background: #00eaff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00c0d0;
}

/* TECH WALL */
#wall {
  position: relative;
  height: 300px;
  border: 2px dashed #00eaff;
  border-radius: 10px;
  overflow: hidden;
}

/* APP BAR */
#appBar {
  margin-top: 10px;
}

.app {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background: #222;
  border-radius: 8px;
  cursor: grab;
  border: 1px solid #00eaff;
}

/* WALL ITEMS */
.wallItem {
  position: absolute;
  padding: 15px;
  background: #00eaff;
  color: black;
  border-radius: 10px;
  cursor: move;
}

/* TRANSLATION */
#translationBox {
  background: black;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #00eaff;
}

/* NOTIFICATIONS */
#notifications {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.notification {
  background: #222;
  padding: 10px;
  border-radius: 5px;
}
