body {
  font-family: Arial;
  background: #0a0a0f;
  color: white;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #00f7ff;
}

.card {
  background: #111;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #00f7ff33;
  box-shadow: 0 0 15px #00f7ff22;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 25px #00f7ff66;
}

button {
  background: #00f7ff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #00cfd6;
}

/* TECH WALL */
#wall {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.app {
  padding: 15px;
  background: #222;
  border-radius: 8px;
  cursor: grab;
  border: 1px solid #00f7ff;
  transition: 0.3s;
}

.app:hover {
  transform: scale(1.1);
  background: #00f7ff;
  color: black;
}

/* TRANSLATION */
#translationBox {
  background: black;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #00f7ff;
  min-height: 60px;
}
